body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

.calculator {
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#display {
  /* width: 100%;
  padding: 10px; */
  font-size: 24px;
  border: none;
  outline: none;
  text-align: right;
}

.buttons {
  display: grid;
}

.resul {
  width: 100%;
  padding: 10%;
}

button {
  width: 60px;
  height: 60px;
  margin: 0 0 10px 0;
  font-size: 18px;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: #f2f2f2;
  transition: background-color 0.2s;
  border-radius: 30px;
}

button:hover {
  background-color: #ddd;
}

.row {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}
